* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

:root {
  font-size: 0.75svw;
}

@function random-scale() {
  $x: random(125);

  @if $x < 25 and $x > 10 {
    $x: $x * 5;
  } @else if $x <= 10 {
    $x: $x * 10;
  } @else {
    $x: $x;
  }

  @return $x * 1.25%;
}

@mixin Flex_center($fd) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $fd;
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 2px;
  &:active {
    display: none;
  }
}

@mixin mobile-w($w) {
  @media (max-width: $w) {
    @content;
  }
}

@media (prefers-reduced-motion: no-preference) {
  body {
    background: #101010;
    overflow-x: hidden;
    .margin {
      width: 100%;
      height: 100px;
      &-large {
        width: 100%;
        height: 250px;
      }
      &-small {
        width: 100%;
        height: 25px;
      }
    }
    .main {
      width: 100svw;
      height: 100svh;
      @include Flex_center(column);
      color: #fdfdfd;
      background: url(images/main-pic.jpg);
      background-position: 30%;
      @include mobile-w(1500px) {
        animation-name: main-anim;
      }
      animation: main-anim-scale linear forwards;
      animation-timeline: view();
      animation-range: exit;
      filter: blur(0px);
      overflow-x: hidden;
      z-index: 999;
      h1 {
        font-family: "Lato", sans-serif;
        font-size: 7.5rem;
        letter-spacing: 2rem;
        word-spacing: 1.75rem;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: grayscale(50%) blur(3px);
        padding-bottom: 7px;
        font-weight: 300 !important;
        width: 100%;
        text-wrap: nowrap;
        // position: sticky;
        // top: 0;
        text-align: center;
        // animation: h1-anim ease forwards;
        // animation-timeline: scroll();
        pointer-events: none;
        position: absolute;
        &::first-letter {
          color: transparent;
        }
        @include mobile-w(1000px) {
          font-size: 12rem;
        }
      }
      .gradient {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(#ffffff00, #101010);
        opacity: 100%;
      }
    }
    .sections-container {
      margin: 500px 0 300px 0;
      width: 100%;
      gap: 600px;
      @include Flex_center(column);
      section {
        width: 70%;
        @include mobile-w(1400px) {
          width: 97%;
        }
        color: #dedede;
        padding: 7rem;
        background: #0000000f;
        border-radius: 47px;
        backdrop-filter: blur(3px) grayscale(25%);
      }
    }
    .section {
      opacity: 0%;
      scale: 10%;
      animation: show-scale-anim ease forwards;
      animation-timeline: view();
      filter: blur(7px);
      &-container {
        @include Flex_center(row);
        @include mobile-w(1400px) {
          flex-direction: column !important;
        }
        gap: 3svw;
        h2 {
          font-family: "Lato", sans-serif;
          font-size: clamp(47px, 4rem, 77px);
        }
        p {
          font-family: "Baskervville", serif;
          font-size: clamp(21px, 3.5rem, 37px);
          // width: 600px;
          margin-top: 70px;
          word-spacing: 10px;
          letter-spacing: 2px;
          @include mobile-w(1400px) {
            margin-top: 22px;
            margin-bottom: 17px;
          }
        }
        img {
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
          height: 500px;
          width: 100%;
          object-fit: cover;
          @include mobile-w(1400px) {
            clip-path: none;
            border-radius: 27px;
            height: 300px !important;
            width: 100% !important;
          }
          &.taxi {
            width: 550px;
          }
          &.nyc {
            width: 500px;
          }
        }
      }
    }
    footer {
      width: 100%;
      height: 900px;
      background: linear-gradient(#101010, #1e1004);
      @include Flex_center(column);
      section {
        @include Flex_center(column);
        color: #dedede;
        width: 60%;
        .wrapper {
          display: flex;
          @include mobile-w(650px) {
            @include Flex_center(column);
          }
          @include mobile-w(650px) {
            width: 100svw;
          }
        }
        .container {
          display: flex;
          align-items: flex-start;
          overflow: hidden;
          margin: 5px;
          width: 60px;
          height: 60px;
          padding: 10px;
          background: darken($color: #5f5f5f, $amount: 25);
          border-radius: 17px;
          transition: 0.5s cubic-bezier(0.57, 0.17, 0.38, 1.35);
          i {
            font-size: 40px;
            cursor: pointer;
            &.ig {
              margin-left: 2.5px;
            }
          }
          &:hover {
            width: 292.5px;
            background: #353535;
          }
          &.phone {
            &:hover {
              width: 202.5px;
            }
          }
          &.ig {
            &:hover {
              width: 320px;
            }
          }
          &.fb {
            &:hover {
              width: 225px;
            }
          }
          &.x {
            &:hover {
              width: 257px;
            }
          }
        }
        h3 {
          font-family: "Lato", sans-serif;
          font-size: clamp(56px, 8rem, 160px);
          letter-spacing: clamp(8px, 1.2vw, 27px);
          word-spacing: clamp(20px, 2vw, 77px);
          margin-bottom: 25px;
          text-wrap: nowrap;
          @include mobile-w(650px) {
            margin-bottom: 100px;
          }
        }
        p {
          font-family: "Baskervville", serif;
          font-size: 17px;
          margin-left: 15px;
          margin-top: 8px;
          text-wrap: nowrap;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .copy {
        color: gray;
        justify-self: flex-end;
        font-size: clamp(15px, 1.2rem, 32px);
        transform: translateY(250px);
        @include mobile-w(650px) {
          position: absolute;
          bottom: 0;
          transform: translateY(-37.5px);
        }
        font-family: "Courier New", Courier, monospace;
      }
    }
    .scroll-container {
      height: 100svh;
      width: 100svw;
      position: fixed;
      z-index: 900;
      top: 0;
      pointer-events: none;
      display: flex;
      justify-content: end;
      align-items: center;
      .scroll {
        width: 7px;
        border-radius: 10px;
        height: 300px;
        margin: 17px;
        animation: scroll-container ease;
        animation-timeline: scroll();
        @include mobile-w(1000px) {
          margin: 10px;
          height: 200px;
          width: 4px;
        }
        .line {
          width: 100%;
          background: #ba5c12;
          animation: scroll-line ease;
          animation-timeline: scroll();
          border-radius: 10px;
        }
      }
    }
  }

  .bg {
    height: 100svh;
    width: calc(100svw + 1000px);
    overflow: hidden;
    position: fixed !important;
    top: 0 !important;
    pointer-events: none;
    z-index: 1 !important;
    color: white;
    @include Flex_center(column);
    &:nth-of-type(1) {
      animation: walking-is-slow linear;
      animation-timeline: scroll();
    }
    &:nth-of-type(2) {
      animation: walking-is-normal linear;
      animation-timeline: scroll();
    }
    &:nth-of-type(3) {
      animation: walking-is-fast linear;
      animation-timeline: scroll();
    }

    @for $i from 1 through 6 {
      .container:nth-of-type(#{$i}) {
        @if ($i == 1) {
          transform: translateY(0px);
        } @else {
          transform: translateY(calc($i * 15%))
            translateX(calc(random(500) * 1px));
        }
      }
    }
    .container {
      width: 100%;
      padding-bottom: 75%;
      position: fixed;
      @include Flex_center(row);
      @for $i from 1 through 50 {
        i:nth-last-of-type(#{$i}) {
          color: darken($color: #ba5c12, $amount: calc(random(25) + 10));
          font-size: clamp(
            12px,
            calc(random(7) * 1.75rem * (random(2) * 0.75)),
            70px
          );
          margin-left: calc(random(300) * 1px + 20px);
          @include mobile-w(800px) {
            margin-left: calc(random(150) * 1px);
          }
          position: relative;
          z-index: random(20);
          transform: translateY(calc(random(1000) * 1px));
          scale: random-scale();
        }
      }
    }
  }

  strong {
    color: #ba5c12;
    &.h1 {
      font-weight: 300;
    }
  }

  .gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(#00000000, #101010);
  }

  // @keyframes h1-anim {
  //   5% {
  //     letter-spacing: 110px;
  //     word-spacing: 200px;
  //   }
  // }

  @keyframes main-anim {
    to {
      opacity: 0%;
      filter: blur(35px) grayscale(10%);
      background-position-y: 75%;
    }
  }

  @keyframes main-anim-scale {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      filter: blur(35px) grayscale(10%);
      transform: scale(200%);
      background-position-y: 100%;
    }
  }

  @keyframes show-scale-anim {
    0% {
      transform: scaleY(0%);
    }
    55% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    58% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    100% {
      transform: scaleY(0%);
    }
  }

  @keyframes gap-anim {
    to {
      gap: 300px;
    }
  }

  @keyframes rotate-anim {
    to {
      rotate: 770deg;
    }
  }

  @keyframes walking-is-slow {
    0% {
      transform: translateX(-500px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }

  @keyframes walking-is-normal {
    0% {
      transform: translateX(-1000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }

  @keyframes walking-is-fast {
    0% {
      transform: translateX(-2000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes scroll-line {
    0% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
  @keyframes scroll-container {
    0% {
      display: flex;
      align-items: start;
    }
    49% {
      display: flex;
      align-items: start;
    }
    50% {
      display: flex;
      align-items: end;
    }
    100% {
      display: flex;
      align-items: end;
    }
  }
}

html {
  scroll-behavior: smooth;
}
