* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

:root {
  font-size: 1vw;
}

::-webkit-scrollbar {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:active {
  background: #858585;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    background: #101010;
    overflow-x: hidden;
  }
  body .margin {
    width: 100%;
    height: 100px;
  }
  body .margin-large {
    width: 100%;
    height: 250px;
  }
  body .margin-small {
    width: 100%;
    height: 25px;
  }
  body main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fdfdfd;
    background: url(images/main-pic.jpg);
    background-position: 30%;
    animation: main-anim linear forwards;
    animation-timeline: view();
    animation-range: exit;
    overflow-x: hidden;
  }
  body main h1 {
    font-family: "Lato", sans-serif;
    font-size: 7.5rem;
    letter-spacing: 2rem;
    word-spacing: 1.75rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(50%) blur(3px);
    padding-bottom: 7px;
    font-weight: 300 !important;
    width: 100%;
    text-wrap: nowrap;
    text-align: center;
    animation: h1-anim ease;
    animation-timeline: scroll();
    pointer-events: none;
    position: absolute;
  }
  body main h1::first-letter {
    color: transparent;
  }
  body main .gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #101010);
    opacity: 100%;
  }
  body .sections-container {
    margin: 500px 0 300px 0;
    width: 100%;
    gap: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .sections-container section {
    width: 70%;
    color: #dedede;
    padding: 7rem;
    background: rgba(0, 0, 0, 0.0588235294);
    border-radius: 47px;
    backdrop-filter: blur(3px) grayscale(25%);
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .sections-container section {
    width: 97%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section {
    opacity: 0%;
    scale: 10%;
    animation: show-scale-anim ease forwards;
    animation-timeline: view();
    filter: blur(7px);
  }
  body .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3vw;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container {
    flex-direction: column !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container h2 {
    font-family: "Lato", sans-serif;
    font-size: clamp(47px, 4rem, 87px);
  }
  body .section-container p {
    font-family: "Baskervville", serif;
    font-size: clamp(21px, 3.5rem, 37px);
    margin-top: 70px;
    word-spacing: 10px;
    letter-spacing: 2px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container p {
    margin-top: 47px;
    margin-bottom: 17px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container img {
    clip-path: none;
    border-radius: 27px;
    height: 370px !important;
    width: 100% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img.taxi {
    width: 550px;
  }
  body .section-container img.nyc {
    width: 500px;
  }
  body footer {
    width: 100%;
    height: 900px;
    background: linear-gradient(#101010, #1e1004);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dedede;
    width: 60%;
  }
  body footer section .wrapper {
    display: flex;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    width: 100vw;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body footer section .container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin: 5px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: #1f1f1f;
    border-radius: 17px;
    transition: 0.5s cubic-bezier(0.57, 0.17, 0.38, 1.35);
  }
  body footer section .container i {
    font-size: 40px;
    cursor: pointer;
  }
  body footer section .container i.ig {
    margin-left: 2.5px;
  }
  body footer section .container:hover {
    width: 292.5px;
    background: #353535;
  }
  body footer section .container.phone:hover {
    width: 202.5px;
  }
  body footer section .container.ig:hover {
    width: 320px;
  }
  body footer section .container.fb:hover {
    width: 225px;
  }
  body footer section .container.x:hover {
    width: 257px;
  }
  body footer section h3 {
    font-family: "Lato", sans-serif;
    font-size: clamp(56px, 8rem, 160px);
    letter-spacing: clamp(8px, 1.2vw, 27px);
    word-spacing: clamp(20px, 2vw, 77px);
    margin-bottom: 25px;
    text-wrap: nowrap;
  }
  body footer section p {
    font-family: "Baskervville", serif;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 8px;
    text-wrap: nowrap;
  }
  body footer section p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  body footer .copy {
    color: gray;
    justify-self: flex-end;
    font-size: clamp(18px, 3.5rem, 32px);
    transform: translateY(150px);
    font-family: "Courier New", Courier, monospace;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer .copy {
    position: absolute;
    bottom: 0;
    transform: translateY(-17px);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg {
    height: 100vh;
    width: calc(100vw + 1000px);
    overflow: hidden;
    position: fixed !important;
    padding: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 10%;
    top: 0 !important;
    pointer-events: none;
    z-index: 1 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bg:nth-of-type(1) {
    animation: walking-is-slow linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(2) {
    animation: walking-is-normal linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(3) {
    animation: walking-is-fast linear;
    animation-timeline: scroll();
  }
  .bg .container:nth-of-type(1) {
    transform: translateY(0px);
  }
  .bg .container:nth-of-type(2) {
    transform: translateY(50px) translateX(83px);
  }
  .bg .container:nth-of-type(3) {
    transform: translateY(75px) translateX(72px);
  }
  .bg .container:nth-of-type(4) {
    transform: translateY(100px) translateX(443px);
  }
  .bg .container:nth-of-type(5) {
    transform: translateY(125px) translateX(95px);
  }
  .bg .container:nth-of-type(6) {
    transform: translateY(150px) translateX(181px);
  }
  .bg .container {
    width: 100%;
    padding: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .bg .container i:nth-last-of-type(1) {
    color: #70370b;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 224px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(1) {
    margin-left: 25px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(2) {
    color: #2a1504;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 283px;
    position: relative;
    z-index: 15;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(2) {
    margin-left: 93px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(3) {
    color: #5d2e09;
    font-size: clamp(12px, 9rem, 70px);
    margin-left: 195px;
    position: relative;
    z-index: 15;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(3) {
    margin-left: 28px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(4) {
    color: #4f2708;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 316px;
    position: relative;
    z-index: 8;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(4) {
    margin-left: 144px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(5) {
    color: #2f1705;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 210px;
    position: relative;
    z-index: 3;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(5) {
    margin-left: 92px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(6) {
    color: #66330a;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 182px;
    position: relative;
    z-index: 9;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(6) {
    margin-left: 73px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(7) {
    color: #6b350a;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 82px;
    position: relative;
    z-index: 17;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(7) {
    margin-left: 121px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(8) {
    color: #170c02;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 289px;
    position: relative;
    z-index: 7;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(8) {
    margin-left: 46px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(9) {
    color: #462307;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 117px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(9) {
    margin-left: 109px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(10) {
    color: #251204;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 277px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(10) {
    margin-left: 42px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(11) {
    color: #582c09;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 60px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(11) {
    margin-left: 106px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(12) {
    color: #6b350a;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 72px;
    position: relative;
    z-index: 18;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(12) {
    margin-left: 76px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(13) {
    color: #743a0b;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 26px;
    position: relative;
    z-index: 12;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(13) {
    margin-left: 136px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(14) {
    color: #87430d;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 174px;
    position: relative;
    z-index: 12;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(14) {
    margin-left: 64px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(15) {
    color: #87430d;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 73px;
    position: relative;
    z-index: 2;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(15) {
    margin-left: 2px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(16) {
    color: #3c1e06;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 199px;
    position: relative;
    z-index: 17;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(16) {
    margin-left: 139px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(17) {
    color: #793c0c;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 312px;
    position: relative;
    z-index: 20;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(17) {
    margin-left: 10px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(18) {
    color: #793c0c;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 319px;
    position: relative;
    z-index: 15;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(18) {
    margin-left: 108px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(19) {
    color: #66330a;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 131px;
    position: relative;
    z-index: 9;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(19) {
    margin-left: 110px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(20) {
    color: #4a2507;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 148px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(20) {
    margin-left: 69px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(21) {
    color: #623009;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 72px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(21) {
    margin-left: 108px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(22) {
    color: #251204;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 125px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(22) {
    margin-left: 94px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(23) {
    color: #2a1504;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 163px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(23) {
    margin-left: 60px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(24) {
    color: #170c02;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 118px;
    position: relative;
    z-index: 3;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(24) {
    margin-left: 26px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(25) {
    color: #211003;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 180px;
    position: relative;
    z-index: 11;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(25) {
    margin-left: 30px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(26) {
    color: #4a2507;
    font-size: clamp(12px, 3.375rem, 70px);
    margin-left: 103px;
    position: relative;
    z-index: 9;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(26) {
    margin-left: 75px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(27) {
    color: #2f1705;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 85px;
    position: relative;
    z-index: 15;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(27) {
    margin-left: 130px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(28) {
    color: #381c05;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 305px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(28) {
    margin-left: 138px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(29) {
    color: #170c02;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 192px;
    position: relative;
    z-index: 1;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(29) {
    margin-left: 78px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(30) {
    color: #170c02;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 67px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(30) {
    margin-left: 40px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(31) {
    color: #331905;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 314px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(31) {
    margin-left: 127px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(32) {
    color: #3c1e06;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 292px;
    position: relative;
    z-index: 18;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(32) {
    margin-left: 19px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(33) {
    color: #170c02;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 286px;
    position: relative;
    z-index: 7;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(33) {
    margin-left: 44px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(34) {
    color: #582c09;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 122px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(34) {
    margin-left: 1px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(35) {
    color: #3c1e06;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 164px;
    position: relative;
    z-index: 1;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(35) {
    margin-left: 89px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(36) {
    color: #4a2507;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 95px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(36) {
    margin-left: 65px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(37) {
    color: #87430d;
    font-size: clamp(12px, 9rem, 70px);
    margin-left: 319px;
    position: relative;
    z-index: 1;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(37) {
    margin-left: 83px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(38) {
    color: #743a0b;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 149px;
    position: relative;
    z-index: 15;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(38) {
    margin-left: 41px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(39) {
    color: #1c0e03;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 149px;
    position: relative;
    z-index: 4;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(39) {
    margin-left: 104px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(40) {
    color: #170c02;
    font-size: clamp(12px, 6.75rem, 70px);
    margin-left: 212px;
    position: relative;
    z-index: 20;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(40) {
    margin-left: 139px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(41) {
    color: #3c1e06;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 96px;
    position: relative;
    z-index: 20;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(41) {
    margin-left: 124px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(42) {
    color: #412006;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 94px;
    position: relative;
    z-index: 12;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(42) {
    margin-left: 96px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(43) {
    color: #793c0c;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 82px;
    position: relative;
    z-index: 2;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(43) {
    margin-left: 28px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(44) {
    color: #412006;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 201px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(44) {
    margin-left: 139px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(45) {
    color: #87430d;
    font-size: clamp(12px, 3.375rem, 70px);
    margin-left: 122px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(45) {
    margin-left: 6px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(46) {
    color: #2f1705;
    font-size: clamp(12px, 3.375rem, 70px);
    margin-left: 139px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(46) {
    margin-left: 43px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(47) {
    color: #170c02;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 21px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(47) {
    margin-left: 59px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(48) {
    color: #251204;
    font-size: clamp(12px, 4.5rem, 70px);
    margin-left: 132px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(48) {
    margin-left: 86px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(49) {
    color: #542908;
    font-size: clamp(12px, 1.125rem, 70px);
    margin-left: 287px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(49) {
    margin-left: 115px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(50) {
    color: #6b350a;
    font-size: clamp(12px, 2.25rem, 70px);
    margin-left: 320px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(50) {
    margin-left: 80px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  strong {
    color: #ba5c12;
  }
  strong.h1 {
    font-weight: 300;
  }
  .gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0), #101010);
  }
  @keyframes h1-anim {
    30% {
      letter-spacing: 110px;
      word-spacing: 200px;
      opacity: 0%;
      scale: 200%;
    }
  }
  @keyframes main-anim {
    to {
      opacity: 0%;
      scale: 200%;
      filter: blur(7px), grayscale(100%);
    }
  }
  @keyframes show-scale-anim {
    45%, 60% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
    }
  }
  @keyframes gap-anim {
    to {
      gap: 300px;
    }
  }
  @keyframes rotate-anim {
    to {
      rotate: 770deg;
    }
  }
  @keyframes walking-is-slow {
    0% {
      transform: translateX(-500px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-normal {
    0% {
      transform: translateX(-1000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-fast {
    0% {
      transform: translateX(-2000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
}
html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
