* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

:root {
  font-size: 0.75svw;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:active {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    background: #101010;
    overflow-x: hidden;
  }
  body .margin {
    width: 100%;
    height: 100px;
  }
  body .margin-large {
    width: 100%;
    height: 250px;
  }
  body .margin-small {
    width: 100%;
    height: 25px;
  }
  body .main {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fdfdfd;
    background: url(images/main-pic.jpg);
    background-position: 30%;
    animation: main-anim-scale linear forwards;
    animation-timeline: view();
    animation-range: exit;
    filter: blur(0px);
    overflow-x: hidden;
    z-index: 999;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1500px) {
  body .main {
    animation-name: main-anim;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .main h1 {
    font-family: "Lato", sans-serif;
    font-size: 7.5rem;
    letter-spacing: 2rem;
    word-spacing: 1.75rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(50%) blur(3px);
    padding-bottom: 7px;
    font-weight: 300 !important;
    width: 100%;
    text-wrap: nowrap;
    text-align: center;
    pointer-events: none;
    position: absolute;
  }
  body .main h1::first-letter {
    color: transparent;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1000px) {
  body .main h1 {
    font-size: 12rem;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .main .gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #101010);
    opacity: 100%;
  }
  body .sections-container {
    margin: 500px 0 300px 0;
    width: 100%;
    gap: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .sections-container section {
    width: 70%;
    color: #dedede;
    padding: 7rem;
    background: rgba(0, 0, 0, 0.0588235294);
    border-radius: 47px;
    backdrop-filter: blur(3px) grayscale(25%);
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .sections-container section {
    width: 97%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section {
    opacity: 0%;
    scale: 10%;
    animation: show-scale-anim ease forwards;
    animation-timeline: view();
    filter: blur(7px);
  }
  body .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3svw;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container {
    flex-direction: column !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container h2 {
    font-family: "Lato", sans-serif;
    font-size: clamp(47px, 4rem, 77px);
  }
  body .section-container p {
    font-family: "Baskervville", serif;
    font-size: clamp(21px, 3.5rem, 37px);
    margin-top: 70px;
    word-spacing: 10px;
    letter-spacing: 2px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container p {
    margin-top: 22px;
    margin-bottom: 17px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container img {
    clip-path: none;
    border-radius: 27px;
    height: 300px !important;
    width: 100% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img.taxi {
    width: 550px;
  }
  body .section-container img.nyc {
    width: 500px;
  }
  body footer {
    width: 100%;
    height: 900px;
    background: linear-gradient(#101010, #1e1004);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dedede;
    width: 60%;
  }
  body footer section .wrapper {
    display: flex;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    width: 100svw;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body footer section .container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin: 5px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: #1f1f1f;
    border-radius: 17px;
    transition: 0.5s cubic-bezier(0.57, 0.17, 0.38, 1.35);
  }
  body footer section .container i {
    font-size: 40px;
    cursor: pointer;
  }
  body footer section .container i.ig {
    margin-left: 2.5px;
  }
  body footer section .container:hover {
    width: 292.5px;
    background: #353535;
  }
  body footer section .container.phone:hover {
    width: 202.5px;
  }
  body footer section .container.ig:hover {
    width: 320px;
  }
  body footer section .container.fb:hover {
    width: 225px;
  }
  body footer section .container.x:hover {
    width: 257px;
  }
  body footer section h3 {
    font-family: "Lato", sans-serif;
    font-size: clamp(56px, 8rem, 160px);
    letter-spacing: clamp(8px, 1.2vw, 27px);
    word-spacing: clamp(20px, 2vw, 77px);
    margin-bottom: 25px;
    text-wrap: nowrap;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section h3 {
    margin-bottom: 100px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body footer section p {
    font-family: "Baskervville", serif;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 8px;
    text-wrap: nowrap;
  }
  body footer section p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  body footer .copy {
    color: gray;
    justify-self: flex-end;
    font-size: clamp(15px, 1.2rem, 32px);
    transform: translateY(250px);
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
  }
  body footer .copy:hover {
    text-decoration: underline;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer .copy {
    position: absolute;
    bottom: 0;
    transform: translateY(-37.5px);
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .scroll-container {
    height: 100svh;
    width: 100svw;
    position: fixed;
    z-index: 900;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  body .scroll-container .scroll {
    width: 7px;
    border-radius: 10px;
    height: 300px;
    margin: 17px;
    animation: scroll-container ease;
    animation-timeline: scroll();
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1000px) {
  body .scroll-container .scroll {
    margin: 10px;
    height: 200px;
    width: 4px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .scroll-container .scroll .line {
    width: 100%;
    background: #ba5c12;
    animation: scroll-line ease;
    animation-timeline: scroll();
    border-radius: 10px;
  }
  .bg {
    height: 100svh;
    width: calc(100svw + 1000px);
    overflow: hidden;
    position: fixed !important;
    top: 0 !important;
    pointer-events: none;
    z-index: 1 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bg:nth-of-type(1) {
    animation: walking-is-slow linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(2) {
    animation: walking-is-normal linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(3) {
    animation: walking-is-fast linear;
    animation-timeline: scroll();
  }
  .bg .container:nth-of-type(1) {
    transform: translateY(0px);
  }
  .bg .container:nth-of-type(2) {
    transform: translateY(30%) translateX(204px);
  }
  .bg .container:nth-of-type(3) {
    transform: translateY(45%) translateX(359px);
  }
  .bg .container:nth-of-type(4) {
    transform: translateY(60%) translateX(189px);
  }
  .bg .container:nth-of-type(5) {
    transform: translateY(75%) translateX(430px);
  }
  .bg .container:nth-of-type(6) {
    transform: translateY(90%) translateX(272px);
  }
  .bg .container {
    width: 100%;
    padding-bottom: 75%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .bg .container i:nth-last-of-type(1) {
    color: #582c09;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 189px;
    position: relative;
    z-index: 10;
    transform: translateY(870px);
    scale: 106.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(1) {
    margin-left: 95px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(1) {
    scale: 114.125% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(2) {
    color: #70370b;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 196px;
    position: relative;
    z-index: 1;
    transform: translateY(664px);
    scale: 46.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(2) {
    margin-left: 113px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(2) {
    scale: 97.625% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(3) {
    color: #4f2708;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 309px;
    position: relative;
    z-index: 3;
    transform: translateY(318px);
    scale: 52.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(3) {
    margin-left: 53px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(3) {
    scale: 144.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(4) {
    color: #4f2708;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 292px;
    position: relative;
    z-index: 2;
    transform: translateY(194px);
    scale: 125%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(4) {
    margin-left: 118px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(4) {
    scale: 83.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(5) {
    color: #743a0b;
    font-size: clamp(12px, 3.9375rem, 70px);
    margin-left: 171px;
    position: relative;
    z-index: 6;
    transform: translateY(539px);
    scale: 128.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(5) {
    margin-left: 81px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(5) {
    scale: 144.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(6) {
    color: #251204;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 138px;
    position: relative;
    z-index: 1;
    transform: translateY(114px);
    scale: 150%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(6) {
    margin-left: 46px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(6) {
    scale: 88% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(7) {
    color: #2f1705;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 170px;
    position: relative;
    z-index: 16;
    transform: translateY(151px);
    scale: 135%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(7) {
    margin-left: 82px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(7) {
    scale: 302.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(8) {
    color: #87430d;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 308px;
    position: relative;
    z-index: 9;
    transform: translateY(14px);
    scale: 48.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(8) {
    margin-left: 25px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(8) {
    scale: 165% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(9) {
    color: #331905;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 292px;
    position: relative;
    z-index: 16;
    transform: translateY(911px);
    scale: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(9) {
    margin-left: 35px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(9) {
    scale: 90.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(10) {
    color: #4a2507;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 179px;
    position: relative;
    z-index: 18;
    transform: translateY(154px);
    scale: 37.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(10) {
    margin-left: 76px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(10) {
    scale: 316.25% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(11) {
    color: #82400d;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 152px;
    position: relative;
    z-index: 10;
    transform: translateY(74px);
    scale: 40%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(11) {
    margin-left: 116px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(11) {
    scale: 55% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(12) {
    color: #2f1705;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 54px;
    position: relative;
    z-index: 8;
    transform: translateY(599px);
    scale: 145%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(12) {
    margin-left: 130px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(12) {
    scale: 105.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(13) {
    color: #582c09;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 305px;
    position: relative;
    z-index: 9;
    transform: translateY(705px);
    scale: 82.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(13) {
    margin-left: 138px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(13) {
    scale: 220% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(14) {
    color: #5d2e09;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 252px;
    position: relative;
    z-index: 20;
    transform: translateY(322px);
    scale: 111.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(14) {
    margin-left: 6px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(14) {
    scale: 88% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(15) {
    color: #87430d;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 49px;
    position: relative;
    z-index: 10;
    transform: translateY(369px);
    scale: 126.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(15) {
    margin-left: 135px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(15) {
    scale: 127.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(16) {
    color: #2f1705;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 152px;
    position: relative;
    z-index: 15;
    transform: translateY(270px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(16) {
    margin-left: 71px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(16) {
    scale: 99% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(17) {
    color: #66330a;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 47px;
    position: relative;
    z-index: 20;
    transform: translateY(740px);
    scale: 126.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(17) {
    margin-left: 83px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(17) {
    scale: 144.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(18) {
    color: #542908;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 158px;
    position: relative;
    z-index: 18;
    transform: translateY(283px);
    scale: 130%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(18) {
    margin-left: 137px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(18) {
    scale: 118.25% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(19) {
    color: #251204;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 87px;
    position: relative;
    z-index: 7;
    transform: translateY(760px);
    scale: 143.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(19) {
    margin-left: 121px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(19) {
    scale: 104.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(20) {
    color: #211003;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 205px;
    position: relative;
    z-index: 19;
    transform: translateY(863px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(20) {
    margin-left: 7px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(20) {
    scale: 97.625% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(21) {
    color: #331905;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 207px;
    position: relative;
    z-index: 19;
    transform: translateY(19px);
    scale: 67.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(21) {
    margin-left: 89px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(21) {
    scale: 92.125% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(22) {
    color: #1c0e03;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 96px;
    position: relative;
    z-index: 17;
    transform: translateY(826px);
    scale: 125%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(22) {
    margin-left: 35px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(22) {
    scale: 45.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(23) {
    color: #87430d;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 189px;
    position: relative;
    z-index: 6;
    transform: translateY(78px);
    scale: 43.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(23) {
    margin-left: 125px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(23) {
    scale: 100.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(24) {
    color: #743a0b;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 143px;
    position: relative;
    z-index: 4;
    transform: translateY(521px);
    scale: 107.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(24) {
    margin-left: 25px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(24) {
    scale: 101.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(25) {
    color: #211003;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 70px;
    position: relative;
    z-index: 14;
    transform: translateY(270px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(25) {
    margin-left: 94px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(25) {
    scale: 140.25% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(26) {
    color: #623009;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 236px;
    position: relative;
    z-index: 17;
    transform: translateY(88px);
    scale: 137.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(26) {
    margin-left: 82px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(26) {
    scale: 220% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(27) {
    color: #623009;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 188px;
    position: relative;
    z-index: 18;
    transform: translateY(797px);
    scale: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(27) {
    margin-left: 83px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(27) {
    scale: 155.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(28) {
    color: #211003;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 36px;
    position: relative;
    z-index: 8;
    transform: translateY(210px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(28) {
    margin-left: 64px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(28) {
    scale: 192.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(29) {
    color: #623009;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 64px;
    position: relative;
    z-index: 4;
    transform: translateY(93px);
    scale: 140%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(29) {
    margin-left: 45px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(29) {
    scale: 156.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(30) {
    color: #170c02;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 300px;
    position: relative;
    z-index: 2;
    transform: translateY(773px);
    scale: 93.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(30) {
    margin-left: 101px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(30) {
    scale: 45.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(31) {
    color: #82400d;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 103px;
    position: relative;
    z-index: 13;
    transform: translateY(353px);
    scale: 133.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(31) {
    margin-left: 110px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(31) {
    scale: 61.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(32) {
    color: #82400d;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 186px;
    position: relative;
    z-index: 18;
    transform: translateY(69px);
    scale: 85%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(32) {
    margin-left: 73px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(32) {
    scale: 110% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(33) {
    color: #4a2507;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 126px;
    position: relative;
    z-index: 5;
    transform: translateY(624px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(33) {
    margin-left: 145px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(33) {
    scale: 154% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(34) {
    color: #70370b;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 52px;
    position: relative;
    z-index: 12;
    transform: translateY(809px);
    scale: 60%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(34) {
    margin-left: 40px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(34) {
    scale: 247.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(35) {
    color: #5d2e09;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 265px;
    position: relative;
    z-index: 10;
    transform: translateY(890px);
    scale: 76.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(35) {
    margin-left: 24px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(35) {
    scale: 247.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(36) {
    color: #211003;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 103px;
    position: relative;
    z-index: 9;
    transform: translateY(915px);
    scale: 146.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(36) {
    margin-left: 30px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(36) {
    scale: 178.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(37) {
    color: #4a2507;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 217px;
    position: relative;
    z-index: 12;
    transform: translateY(990px);
    scale: 72.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(37) {
    margin-left: 64px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(37) {
    scale: 55% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(38) {
    color: #82400d;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 55px;
    position: relative;
    z-index: 4;
    transform: translateY(876px);
    scale: 143.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(38) {
    margin-left: 50px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(38) {
    scale: 123.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(39) {
    color: #462307;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 65px;
    position: relative;
    z-index: 11;
    transform: translateY(947px);
    scale: 25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(39) {
    margin-left: 128px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(39) {
    scale: 144.375% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(40) {
    color: #582c09;
    font-size: clamp(12px, 3.9375rem, 70px);
    margin-left: 259px;
    position: relative;
    z-index: 13;
    transform: translateY(47px);
    scale: 75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(40) {
    margin-left: 134px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(40) {
    scale: 61.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(41) {
    color: #412006;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 273px;
    position: relative;
    z-index: 10;
    transform: translateY(596px);
    scale: 48.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(41) {
    margin-left: 57px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(41) {
    scale: 82.5% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(42) {
    color: #412006;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 66px;
    position: relative;
    z-index: 7;
    transform: translateY(522px);
    scale: 46.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(42) {
    margin-left: 115px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(42) {
    scale: 107.25% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(43) {
    color: #542908;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 94px;
    position: relative;
    z-index: 12;
    transform: translateY(387px);
    scale: 83.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(43) {
    margin-left: 104px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(43) {
    scale: 61.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(44) {
    color: #331905;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 308px;
    position: relative;
    z-index: 6;
    transform: translateY(57px);
    scale: 87.5%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(44) {
    margin-left: 36px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(44) {
    scale: 79.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(45) {
    color: #5d2e09;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 232px;
    position: relative;
    z-index: 14;
    transform: translateY(579px);
    scale: 131.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(45) {
    margin-left: 60px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(45) {
    scale: 20.625% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(46) {
    color: #331905;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 226px;
    position: relative;
    z-index: 3;
    transform: translateY(324px);
    scale: 95%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(46) {
    margin-left: 61px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(46) {
    scale: 156.75% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(47) {
    color: #2a1504;
    font-size: clamp(12px, 3.9375rem, 70px);
    margin-left: 180px;
    position: relative;
    z-index: 16;
    transform: translateY(576px);
    scale: 46.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(47) {
    margin-left: 17px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(47) {
    scale: 185.625% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(48) {
    color: #3c1e06;
    font-size: clamp(12px, 3.9375rem, 70px);
    margin-left: 104px;
    position: relative;
    z-index: 13;
    transform: translateY(927px);
    scale: 91.25%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(48) {
    margin-left: 86px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(48) {
    scale: 129.25% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(49) {
    color: #623009;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 40px;
    position: relative;
    z-index: 6;
    transform: translateY(923px);
    scale: 143.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(49) {
    margin-left: 24px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(49) {
    scale: 39.875% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(50) {
    color: #2a1504;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 146px;
    position: relative;
    z-index: 9;
    transform: translateY(271px);
    scale: 118.75%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(50) {
    margin-left: 44px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 850px) {
  .bg .container i:nth-last-of-type(50) {
    scale: 141.625% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  strong {
    color: #ba5c12;
  }
  strong.h1 {
    font-weight: 300;
  }
  .gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0), #101010);
  }
  @keyframes main-anim {
    to {
      opacity: 0%;
      filter: blur(35px) grayscale(10%);
      transform: translateY(-20%);
      background-position-y: 75%;
    }
  }
  @keyframes main-anim-scale {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      filter: blur(35px) grayscale(10%);
      transform: scale(200%);
      background-position-y: 100%;
    }
  }
  @keyframes show-scale-anim {
    0% {
      transform: scaleY(0%);
    }
    55% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    58% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    100% {
      transform: scaleY(0%);
    }
  }
  @keyframes gap-anim {
    to {
      gap: 300px;
    }
  }
  @keyframes rotate-anim {
    to {
      rotate: 770deg;
    }
  }
  @keyframes walking-is-slow {
    0% {
      transform: translateX(-500px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-normal {
    0% {
      transform: translateX(-1000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-fast {
    0% {
      transform: translateX(-2000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes scroll-line {
    0% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
  @keyframes scroll-container {
    0% {
      display: flex;
      align-items: start;
    }
    49% {
      display: flex;
      align-items: start;
    }
    50% {
      display: flex;
      align-items: end;
    }
    100% {
      display: flex;
      align-items: end;
    }
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=styles.css.map */