* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

:root {
  font-size: 1svw;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:active {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    background: #101010;
    overflow-x: hidden;
  }
  body .margin {
    width: 100%;
    height: 100px;
  }
  body .margin-large {
    width: 100%;
    height: 250px;
  }
  body .margin-small {
    width: 100%;
    height: 25px;
  }
  body .main {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fdfdfd;
    background: url(images/main-pic.jpg);
    background-position: 30%;
    animation: main-anim linear forwards;
    animation-timeline: view();
    animation-range: exit;
    filter: blur(0px);
    overflow-x: hidden;
    z-index: 999;
  }
  body .main h1 {
    font-family: "Lato", sans-serif;
    font-size: 7.5rem;
    letter-spacing: 2rem;
    word-spacing: 1.75rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(50%) blur(3px);
    padding-bottom: 7px;
    font-weight: 300 !important;
    width: 100%;
    text-wrap: nowrap;
    text-align: center;
    pointer-events: none;
    position: absolute;
  }
  body .main h1::first-letter {
    color: transparent;
  }
  body .main .gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #101010);
    opacity: 100%;
  }
  body .sections-container {
    margin: 500px 0 300px 0;
    width: 100%;
    gap: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .sections-container section {
    width: 70%;
    color: #dedede;
    padding: 7rem;
    background: rgba(0, 0, 0, 0.0588235294);
    border-radius: 47px;
    backdrop-filter: blur(3px) grayscale(25%);
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .sections-container section {
    width: 97%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section {
    opacity: 0%;
    scale: 10%;
    animation: show-scale-anim ease forwards;
    animation-timeline: view();
    filter: blur(7px);
  }
  body .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3svw;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container {
    flex-direction: column !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container h2 {
    font-family: "Lato", sans-serif;
    font-size: clamp(47px, 4rem, 87px);
  }
  body .section-container p {
    font-family: "Baskervville", serif;
    font-size: clamp(21px, 3.5rem, 37px);
    margin-top: 70px;
    word-spacing: 10px;
    letter-spacing: 2px;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container p {
    margin-top: 47px;
    margin-bottom: 17px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1400px) {
  body .section-container img {
    clip-path: none;
    border-radius: 27px;
    height: 370px !important;
    width: 100% !important;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .section-container img.taxi {
    width: 550px;
  }
  body .section-container img.nyc {
    width: 500px;
  }
  body footer {
    width: 100%;
    height: 900px;
    background: linear-gradient(#101010, #1e1004);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dedede;
    width: 60%;
  }
  body footer section .wrapper {
    display: flex;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section .wrapper {
    width: 100svw;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body footer section .container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin: 5px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: #1f1f1f;
    border-radius: 17px;
    transition: 0.5s cubic-bezier(0.57, 0.17, 0.38, 1.35);
  }
  body footer section .container i {
    font-size: 40px;
    cursor: pointer;
  }
  body footer section .container i.ig {
    margin-left: 2.5px;
  }
  body footer section .container:hover {
    width: 292.5px;
    background: #353535;
  }
  body footer section .container.phone:hover {
    width: 202.5px;
  }
  body footer section .container.ig:hover {
    width: 320px;
  }
  body footer section .container.fb:hover {
    width: 225px;
  }
  body footer section .container.x:hover {
    width: 257px;
  }
  body footer section h3 {
    font-family: "Lato", sans-serif;
    font-size: clamp(56px, 8rem, 160px);
    letter-spacing: clamp(8px, 1.2vw, 27px);
    word-spacing: clamp(20px, 2vw, 77px);
    margin-bottom: 25px;
    text-wrap: nowrap;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer section h3 {
    margin-bottom: 120px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body footer section p {
    font-family: "Baskervville", serif;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 8px;
    text-wrap: nowrap;
  }
  body footer section p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  body footer .copy {
    color: gray;
    justify-self: flex-end;
    font-size: clamp(18px, 3.5rem, 32px);
    transform: translateY(150px);
    font-family: "Courier New", Courier, monospace;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 650px) {
  body footer .copy {
    position: absolute;
    bottom: 0;
    transform: translateY(-37px);
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .scroll-container {
    height: 100svh;
    width: 100svw;
    position: fixed;
    z-index: 900;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  body .scroll-container .scroll {
    width: 7px;
    border-radius: 10px;
    height: 300px;
    margin: 17px;
    animation: scroll-container ease;
    animation-timeline: scroll();
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 1000px) {
  body .scroll-container .scroll {
    margin: 10px;
    height: 200px;
    width: 4px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body .scroll-container .scroll .line {
    width: 100%;
    background: #ba5c12;
    animation: scroll-line ease;
    animation-timeline: scroll();
    border-radius: 10px;
  }
  .bg {
    height: 100svh;
    width: calc(100svw + 1000px);
    overflow: hidden;
    position: fixed !important;
    top: 0 !important;
    pointer-events: none;
    z-index: 1 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bg:nth-of-type(1) {
    animation: walking-is-slow linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(2) {
    animation: walking-is-normal linear;
    animation-timeline: scroll();
  }
  .bg:nth-of-type(3) {
    animation: walking-is-fast linear;
    animation-timeline: scroll();
  }
  .bg .container:nth-of-type(1) {
    transform: translateY(0px);
  }
  .bg .container:nth-of-type(2) {
    transform: translateY(30%) translateX(75px);
  }
  .bg .container:nth-of-type(3) {
    transform: translateY(45%) translateX(8px);
  }
  .bg .container:nth-of-type(4) {
    transform: translateY(60%) translateX(454px);
  }
  .bg .container:nth-of-type(5) {
    transform: translateY(75%) translateX(345px);
  }
  .bg .container:nth-of-type(6) {
    transform: translateY(90%) translateX(486px);
  }
  .bg .container {
    width: 100%;
    padding-bottom: 10%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .bg .container i:nth-last-of-type(1) {
    color: #251204;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 77px;
    position: relative;
    z-index: 4;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(1) {
    margin-left: 74px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(2) {
    color: #5d2e09;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 273px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(2) {
    margin-left: 122px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(3) {
    color: #5d2e09;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 147px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(3) {
    margin-left: 11px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(4) {
    color: #87430d;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 286px;
    position: relative;
    z-index: 17;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(4) {
    margin-left: 28px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(5) {
    color: #793c0c;
    font-size: clamp(12px, 13.125rem, 70px);
    margin-left: 89px;
    position: relative;
    z-index: 1;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(5) {
    margin-left: 67px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(6) {
    color: #623009;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 68px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(6) {
    margin-left: 29px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(7) {
    color: #412006;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 303px;
    position: relative;
    z-index: 11;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(7) {
    margin-left: 16px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(8) {
    color: #66330a;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 224px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(8) {
    margin-left: 73px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(9) {
    color: #82400d;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 193px;
    position: relative;
    z-index: 12;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(9) {
    margin-left: 146px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(10) {
    color: #412006;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 230px;
    position: relative;
    z-index: 20;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(10) {
    margin-left: 118px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(11) {
    color: #4a2507;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 268px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(11) {
    margin-left: 94px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(12) {
    color: #3c1e06;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 35px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(12) {
    margin-left: 66px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(13) {
    color: #3c1e06;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 141px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(13) {
    margin-left: 57px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(14) {
    color: #1c0e03;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 240px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(14) {
    margin-left: 51px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(15) {
    color: #2f1705;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 230px;
    position: relative;
    z-index: 2;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(15) {
    margin-left: 60px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(16) {
    color: #5d2e09;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 43px;
    position: relative;
    z-index: 14;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(16) {
    margin-left: 141px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(17) {
    color: #331905;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 58px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(17) {
    margin-left: 144px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(18) {
    color: #462307;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 162px;
    position: relative;
    z-index: 16;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(18) {
    margin-left: 83px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(19) {
    color: #582c09;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 243px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(19) {
    margin-left: 132px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(20) {
    color: #623009;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 304px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(20) {
    margin-left: 120px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(21) {
    color: #793c0c;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 211px;
    position: relative;
    z-index: 11;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(21) {
    margin-left: 68px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(22) {
    color: #2a1504;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 240px;
    position: relative;
    z-index: 8;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(22) {
    margin-left: 15px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(23) {
    color: #582c09;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 252px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(23) {
    margin-left: 128px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(24) {
    color: #462307;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 315px;
    position: relative;
    z-index: 9;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(24) {
    margin-left: 55px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(25) {
    color: #66330a;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 320px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(25) {
    margin-left: 5px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(26) {
    color: #2a1504;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 22px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(26) {
    margin-left: 113px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(27) {
    color: #1c0e03;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 162px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(27) {
    margin-left: 144px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(28) {
    color: #462307;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 318px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(28) {
    margin-left: 62px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(29) {
    color: #743a0b;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 162px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(29) {
    margin-left: 149px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(30) {
    color: #582c09;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 57px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(30) {
    margin-left: 59px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(31) {
    color: #793c0c;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 313px;
    position: relative;
    z-index: 8;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(31) {
    margin-left: 47px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(32) {
    color: #2a1504;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 190px;
    position: relative;
    z-index: 18;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(32) {
    margin-left: 54px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(33) {
    color: #7e3e0c;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 70px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(33) {
    margin-left: 91px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(34) {
    color: #4f2708;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 273px;
    position: relative;
    z-index: 12;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(34) {
    margin-left: 77px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(35) {
    color: #251204;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 139px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(35) {
    margin-left: 136px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(36) {
    color: #2f1705;
    font-size: clamp(12px, 3.9375rem, 70px);
    margin-left: 108px;
    position: relative;
    z-index: 20;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(36) {
    margin-left: 2px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(37) {
    color: #6b350a;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 263px;
    position: relative;
    z-index: 18;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(37) {
    margin-left: 36px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(38) {
    color: #7e3e0c;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 65px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(38) {
    margin-left: 63px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(39) {
    color: #743a0b;
    font-size: clamp(12px, 1.3125rem, 70px);
    margin-left: 203px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(39) {
    margin-left: 38px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(40) {
    color: #87430d;
    font-size: clamp(12px, 7.875rem, 70px);
    margin-left: 245px;
    position: relative;
    z-index: 10;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(40) {
    margin-left: 31px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(41) {
    color: #211003;
    font-size: clamp(12px, 6.5625rem, 70px);
    margin-left: 134px;
    position: relative;
    z-index: 5;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(41) {
    margin-left: 87px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(42) {
    color: #251204;
    font-size: clamp(12px, 5.25rem, 70px);
    margin-left: 129px;
    position: relative;
    z-index: 2;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(42) {
    margin-left: 9px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(43) {
    color: #412006;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 310px;
    position: relative;
    z-index: 13;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(43) {
    margin-left: 111px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(44) {
    color: #82400d;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 166px;
    position: relative;
    z-index: 7;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(44) {
    margin-left: 50px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(45) {
    color: #5d2e09;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 54px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(45) {
    margin-left: 137px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(46) {
    color: #5d2e09;
    font-size: clamp(12px, 15.75rem, 70px);
    margin-left: 162px;
    position: relative;
    z-index: 1;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(46) {
    margin-left: 109px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(47) {
    color: #3c1e06;
    font-size: clamp(12px, 9.1875rem, 70px);
    margin-left: 28px;
    position: relative;
    z-index: 19;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(47) {
    margin-left: 4px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(48) {
    color: #623009;
    font-size: clamp(12px, 18.375rem, 70px);
    margin-left: 310px;
    position: relative;
    z-index: 7;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(48) {
    margin-left: 23px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(49) {
    color: #170c02;
    font-size: clamp(12px, 2.625rem, 70px);
    margin-left: 138px;
    position: relative;
    z-index: 9;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(49) {
    margin-left: 85px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .bg .container i:nth-last-of-type(50) {
    color: #381c05;
    font-size: clamp(12px, 10.5rem, 70px);
    margin-left: 168px;
    position: relative;
    z-index: 6;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 800px) {
  .bg .container i:nth-last-of-type(50) {
    margin-left: 57px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  strong {
    color: #ba5c12;
  }
  strong.h1 {
    font-weight: 300;
  }
  .gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0), #101010);
  }
  @keyframes main-anim {
    to {
      opacity: 0%;
      filter: blur(20px);
      transform: translateY(100%);
    }
  }
  @keyframes show-scale-anim {
    0% {
      transform: scaleY(0%);
    }
    55% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    58% {
      opacity: 100%;
      scale: 100%;
      filter: blur(0px);
      transform: scaleY(100%);
    }
    100% {
      transform: scaleY(0%);
    }
  }
  @keyframes gap-anim {
    to {
      gap: 300px;
    }
  }
  @keyframes rotate-anim {
    to {
      rotate: 770deg;
    }
  }
  @keyframes walking-is-slow {
    0% {
      transform: translateX(-500px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-normal {
    0% {
      transform: translateX(-1000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes walking-is-fast {
    0% {
      transform: translateX(-2000px);
      opacity: 0%;
    }
    15% {
      opacity: 0%;
    }
    35% {
      opacity: 100%;
    }
    80% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0px);
      opacity: 0%;
    }
  }
  @keyframes scroll-line {
    0% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
  @keyframes scroll-container {
    0% {
      display: flex;
      align-items: start;
    }
    49% {
      display: flex;
      align-items: start;
    }
    50% {
      display: flex;
      align-items: end;
    }
    100% {
      display: flex;
      align-items: end;
    }
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=styles.css.map */